<form (ngSubmit)="onSubmit()">
  <div>
    <h1>REGISTER FORM</h1>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
  </div>
  <div class="re">
    <button type="submit">Save</button>
  </div>
</form>
<div>
  <table>
    <thead>       
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td> 
        <td (click)="editUser(i)">{{ user.firstName }}</td>
        <td (click)="editUser(i)">{{ user.lastName }}</td>
        <td>
          <button (click)="deleteUser(i)">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
